<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Apuestas</title> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation-datepicker/1.5.6/css/foundation-datepicker.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/plugins/foundation.util.mediaQuery.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation-datepicker/1.5.0/js/foundation-datepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation-datepicker/1.5.6/js/foundation-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.js"></script>

<script src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>


<!-- Navigation -->
<div class="title-bar show-for-small-only" data-responsive-toggle="realEstateMenu" >
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar hide-for-small-only" id="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Apuestas</li>
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <a href="#">
          {% if current_user.is_authenticated %}
            Hi {{ current_user.nick }}
          {% else %}
            Please login
          {% endif %}
        </a>
      </li>
      
        {% if current_user.is_authenticated %}
          {% if current_user.can_be_admin %}
            {% if current_user.logged_as_admin %}
            <li>
                <button class="button">
                    Leave admin
                </a>
            </li>
            {% else %}
            <li>
                <button class="button"  data-toggle="loginAdminModal">Login as admin</button>
            </li>
            {% endif %}
          {% endif %}
          <li>
              <a class="button" href="{{ url_for('logout') }}">Logout</a>
          </li>
        {% else %}
          <li>
              <a class="button" href="{{ login_url }}">Login</a>
          </li>
        {% endif %}
      </li>
    </ul>
  </div>

    <!-- Top bar modals -->
    <div class="reveal" id="loginAdminModal" data-reveal data-close-on-click="true">
      <p class="lead">Login as admin</p>
        <label>Password
          <input type="password" placeholder="enter your admin's password"
                data-bind="value: admin_password">
        </label>
        <button class="button" 
              data-bind="click: submitAdminLogin">Login</button>

      <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
</div>
<!-- /Navigation -->
<div class="callout warning" data-closable style="display: none"
    id="wrongAdminPassword">
  <h5>Wrong admin password</h5>
  <p>You can try to login as admin again</p>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<br>
<div class="body">
    {% block body %}
    {% endblock %}
</div>

