{% extends "layout.html" %}

{% block body %}
<article class="grid-container">
  <div class="grid-x grid-margin-x">

    <div class="medium-7 large-6 cell">
      <h1>Hi {{ current_user.nick }}, welcome to Apuestas!!</h1>
      <p class="subheader">There is beauty in space, and it is orderly. There is no weather, and there is regularity. It is predictable. Everything in space obeys the laws of physics. If you know these laws, and obey them, space will treat you kindly.</p>
      <a class="button" href="{{ url_for('load_teams')}}">Update data</a>
      <button class="button">Start a free trial</button>
    </div>

    <div class="show-for-large large-3 cell">
      <img src="https://placehold.it/400x370&text=PSR1257 + 12 C" alt="picture of space">
    </div>

    <div class="medium-5 large-3 cell">
      <div class="callout secondary">
        <form>
          <div class="grid-x">
            <div class="small-12 cell">
              <label>Find team
                <input type="text" placeholder="Search team or date">
              </label>
            </div>
            <div class="small-12 cell">
              <label>Filter date
                <input type="text" value="02-12-2018" id="filter-date">
              </label>
              <button type="submit" class="button">Search Now!</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

<div class="">
  <hr>
</div>

<div class="">
  <p class="lead">Apuestas</p>
</div>

<div class="grid-x grid-margin-x small-up-1 medium-up-1 large-up-2">
  <div class="cell">
    <div class="callout">
      <p>Pegasi B</p>
      <p><img src="https://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
      <p class="lead">Copernican Revolution caused an uproar</p>
      <p class="subheader">Find Earth-like planets life outside the Solar System</p>
    </div>
  </div>
  <div class="cell">
    <div class="callout">
      <p>Pegasi B</p>
      <p><img src="https://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
      <p class="lead">Copernican Revolution caused an uproar</p>
      <p class="subheader">Find Earth-like planets life outside the Solar System</p>
    </div>
  </div>
  <div class="cell">
    <div class="callout">
      <p>Pegasi B</p>
      <p><img src="https://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
      <p class="lead">Copernican Revolution caused an uproar</p>
      <p class="subheader">Find Earth-like planets life outside the Solar System</p>
    </div>
  </div>
  <div class="cell">
    <div class="callout">
      <p>Pegasi B</p>
      <p><img src="https://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
      <p class="lead">Copernican Revolution caused an uproar</p>
      <p class="subheader">Find Earth-like planets life outside the Solar System</p>
    </div>
  </div>
  <div class="cell">
    <div class="callout">
      <p>Pegasi B</p>
      <p><img src="https://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
      <p class="lead">Copernican Revolution caused an uproar</p>
      <p class="subheader">Find Earth-like planets life outside the Solar System</p>
    </div>
  </div>
  <div class="cell">
    <div class="callout">
      <p>Pegasi B</p>
      <p><img src="https://placehold.it/400x370&text=Pegasi B" alt="image of a planet called Pegasi B"></p>
      <p class="lead">Copernican Revolution caused an uproar</p>
      <p class="subheader">Find Earth-like planets life outside the Solar System</p>
    </div>
  </div>

</div>

<div class="">
  <a class="button hollow expanded">Load More</a>
</div>
</article>
{% endblock %}


